body {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}


/*FONT IMPORT*/

@font-face {
    font-family: roboto-regular;
    src: url(font/roboto-regular.ttf);
}


/*FONT*/

* {
    font-family: 'roboto-regular';
    color: black;
}


/******** BLOCKS *****/

.blocks {
    background-color: #125D53;
}

.topBlocks {
    width: calc(50vw - 2.25em);
}

#topLeftBlock {
    float: left;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: .5em;
    margin-top: 1em;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

#topRightBlock {
    float: right;
    margin-bottom: 1em;
    margin-left: .5em;
    margin-right: 1em;
    margin-top: 1em;
    height: 50%;
}

#bottomBlock {
    clear: both;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}


/******* CLOCk *****/

#clock {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin: .5em;
    padding: 0;
    display: block;
}


/****** CURRENT WEATHER ***********/

#topLeftBlock #image {
    float: left;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: .5em;
    margin-top: 1em;
    width: calc(50% - 2em);
}

#topLeftBlock #image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: auto;
}

#topLeftBlock #text {
    float: right;
    margin-bottom: 1em;
    margin-left: .5em;
    margin-right: 1em;
    margin-top: 1em;
    width: calc(50% - 2em);
}

#wrapper {
    width: 100%;
    height: calc(100% - 3em);
}

#wrapper2 {
    width: 100%;
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/************TABLE ****************/

#forecast thead tr td h2 {
    text-align: center;
}

#forecast tbody tr td {
    width: 20%;
}

#forecast tbody tr:nth-child(2) td p {
    padding: 0;
    margin: 0;
}

#forecast {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

#forecast p {
    text-align: center;
    word-wrap: break-word;
}


/*Images*/

img {
    width: 6em;
    display: block;
    margin: auto;
}


/*text*/

p {
    line-height: 2em;
    font-size: 1.3em;
}

h2 {
    font-size: 2em;
}
